
body{
    background-color: rgba(151, 189, 222, 0.575);
}
p{
    color: black;
}
#demo {
    background: #D0E4F5 url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMS1iYWNrZ3JvdW5kLXRvbmctMDU4LmpwZw.jpg?s=rx5i5BUAnsfmcAWUYqKWPCchqr_G13yl6rkU7c3w2r8") no-repeat scroll 0px 0px;
    }
    /* esta linea de codigo se hizo con ayuda de la siguiente pagina: https://html-css-js.com/css/generator/ */

#demoFont {
        font-family: Impact, Charcoal, sans-serif;
        font-size: 40px;
        letter-spacing: 2.6px;
        word-spacing: 2.6px;
        color: #4922FF;
        font-weight: 700;
        text-decoration: overline solid rgb(68, 68, 68);
        font-style: normal;
        font-variant: small-caps;
        text-transform: capitalize;
        }
        /* estas lineas de codigo se hicieron con ayuda de la siguiente pagina: https://html-css-js.com/css/generator/ */

h2{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 27px;
    letter-spacing: 0.8px;
    word-spacing: -2px;
    color: #FF107E;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}

li{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: x-large;
    color: black;
}

span{
    font-weight: bolder;
    font-size: large;
    color: #FF107E;
}

p{
    font-size: xx-large;
}

h4 {
    font-size: larger;
    color: #13064f;
    font-style: oblique;
}

#demoparagraph {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 29px;
    -moz-column-gap: 29px;
    column-gap: 29px;
    -webkit-column-rule: 1px solid rgba(28,110,164,0.5);
    -moz-column-rule: 1px solid rgba(28,110,164,0.5);
    column-rule: 1px solid rgba(28,110,164,0.5);
    }

button {
    font-size: large;
    color: rgb(255, 0, 0);
}

h5{
    font-family: 'Shantell Sans', cursive;
    font-size: medium;
    color: #4922FF;
}
